.container{
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.big-text{
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
}

.player-list{
    width: 70%;
    list-style: none;
    padding: 0;
}
.player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    font-size: 2rem;
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 30px;
}

@media only screen and (min-width:370px) and (max-width:450px)
{
    .container{
        margin-top: -100px;
    }
    .big-text{
        font-size: 2rem;
    }

    .player{
        font-size: 1rem;
    }

    .navigation{
        width: 100%;
    }
    .btn{
        font-size: 0.8rem;
        margin: 10px;
        width: 500px;
    }
}
