#game{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

#question{
    font-weight: 600;
}

#congress-text{
    display:flex;
}

#congress-bar{
    width: 15rem;
    height: 2rem;
    border: 3px solid var(--primary-color);
    margin-top: 20px;
}

#congress-bar-full{
    width: 0%;
    height: 1.5rem;
    background-color: var(--dark-color);
}

/* #hud-left{
    display: flex;
    flex-direction: row;
} */

#question-counter{
    font-weight: 600;
    color:rgba(243, 171, 17, 0.5);
    margin: 0 0 0 10px;
    padding: 0;
}

.container{
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    display: flex;
    font-weight: 600;
    color:rgba(243, 171, 17, 0.5);
    margin: 0;
}




.hud-content{
    font-size:3rem;
    font-weight: 1000;
    margin:0;
    padding: 0;
}

.choice-container{
    display: flex;
    flex-direction: row;
}

.choice-prefix{
    padding: 10px;
    margin:10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    font-weight: 600;
    background-color: var(--primary-color);
}
.choice-prefix:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(243, 171, 17, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-text{
    width: 700px; 
    display: flex;
}

.answer{
    width: 70%;
    height: 40px;
    background-color: #fde345;
    color: var(--dark-color);
    font-weight: 700;
    margin: 10px;
    display: flex;
    padding: 0 7px;
    border-radius: 10px;
    align-items: center;
}

.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.3rem solid white;
    border-radius: 2px;
}

.fb-correct{
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transform: translate(0, 50%);
    animation: popup 0.5s ease; 
    background-color: green;
}

.fb-wrong{
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    transform: translate(0, 50%);
    animation: popup 0.5s ease; 
    background-color: rgb(133, 18, 18);
}

.hidden{
    display: none;
}


@keyframes popup{
    from{ 
        transform: translate(200%, 50%);
        opacity:0;
    }
    to{
        transform:translate(0, 50%);
        opacity: 1;
    }
}
